{% extends "base.html" %}

{% block title %}User Guide{% endblock %}

{% block content %}
<div class="pdf-viewer-container">
    <h1 class="title">User Guide</h1>
    <hr class="header-line">
    <div class="pdf-viewer">
        <embed src="{{ url_for('serve_pdf', filename='Employee_Turnover_Prediction_User_Guide.pdf') }}"
            type="application/pdf" width="100%" height="800px">
    </div>
    <div class="pdf-download">
        <a href="{{ url_for('serve_pdf', filename='Employee_Turnover_Prediction_User_Guide.pdf') }}"
            download="Employee_Turnover_User_Guide.pdf" class="download-button">
            Download Full Guide
        </a>
    </div>
</div>
{% endblock %}